Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

typecheck:
  run: pnpm run typecheck

lint:
  run: pnpm run lint
  stage_fixed: true

format:
  run: pnpm exec biome format --write {staged_files}
  stage_fixed: true

refactor(rpc-client): use safeParse and improve type safety
  src/rpc-client.ts
Due: typecheck, lint, format

docs(rpc-client): add API reference links to RpcClient class
  src/rpc-client.ts
Due: typecheck, lint, format

fix: lint errors - sort imports and remove unused JsonDict import
  src/rpc-client.spec.ts
  src/rpc-client.ts
Due: typecheck, lint, format

refactor(tests): use nullish coalescing (??) instead of logical OR (||)
  src/toolsets/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, lint, format

fix(rpc-client): align response schema with server's ActionsRpcResponseApiModel
  src/rpc-client.ts
Due: typecheck, lint, format

refactor(toolsets): eliminate type assertion with type-safe conversion
  src/toolsets/base.ts
Due: typecheck, lint, format

chore: remove npm registry token from release workflow
  .github/workflows/release.yaml
Due: lint, format

test(rpc-client): update tests for correct response structure
  src/rpc-client.spec.ts
  src/toolsets/base.ts
Due: typecheck, lint, format

chore: use biome format -> biome check for lefthook
  lefthook.yaml
Due: lint, format

chore: add knip and remove unused files
  .claude/skills/file-operations/SKILL.md
  .cursor/rules/file-utils.mdc
  CLAUDE.md
  examples/package.json
  knip.config.ts
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/tool.ts
  src/toolsets/index.ts
  src/toolsets/stackone.ts
  src/types.ts
  src/utils/file.ts
  src/utils/schema.ts
  src/utils/tfidf-index.ts
Due: typecheck, lint, format

refactor(rpc-client): remove unused type aliases
  src/rpc-client.ts
Due: typecheck, lint, format

ci: add knip to lint workflow
  .github/workflows/lint.yaml
Due: lint, format

Revert "ci: add knip to lint workflow"
  .github/workflows/lint.yaml
Due: lint, format

fix(test): remove obsolete stackOneClient from MCP fetch tests
  src/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, lint, format

fix(ci): remove --no-bail to fail on script errors
  package.json
Due: lint, format

docs(test): document vitest globals usage
  .claude/skills/typescript-testing/SKILL.md
Due: lint, format

chore(ci): consolidate lint and test workflows into single CI workflow
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
Due: lint, format

perf(nix): skip pnpm install when dependencies are up to date
  flake.nix
Due: format

chore(nix): add git and gh to development shell
  flake.nix
Due: format

Revert "chore(nix): add git and gh to development shell"
  flake.nix
Due: format

fix(build): use devExports
  tsdown.config.ts
Due: typecheck, lint, format

ci: stop using npm token anymore
  .github/workflows/release.yaml
Due: lint, format

docs: reorder Features section with fetchTools at top
  README.md
Due: lint, format

refactor(skills): unify cursor rules and claude skills
  .claude/skills/development-workflow/SKILL.md
  .claude/skills/file-operations/SKILL.md
  .claude/skills/orama-integration/SKILL.md
  .claude/skills/typescript-patterns/SKILL.md
  .claude/skills/typescript-testing/SKILL.md
  .cursor/rules/clean-code.mdc
  .cursor/rules/cursor-rules-location.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/examples-standards.mdc
  .cursor/rules/file-operations.mdc
  .cursor/rules/file-utils.mdc
  .cursor/rules/json-schema-handling.mdc
  .cursor/rules/native-fetch.mdc
  .cursor/rules/orama-integration.mdc
  .cursor/rules/pnpm-standards.mdc
  .cursor/rules/release-please-standards.mdc
  .cursor/rules/typescript-best-practices.mdc
  .cursor/rules/typescript-patterns.mdc
  .cursor/rules/typescript-testing.mdc
  .cursor/rules/vitest-mocks.mdc
  CLAUDE.md
Due: lint, format

fix(package.json): add engines
  package.json
Due: lint, format

chore(deps): upgrade to zod v4, ai SDK 5.0.108, and MCP SDK 1.24.3
  examples/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, format

fix(types): use ToolSet from ai SDK for AISDKToolResult compatibility
  src/types.ts
  tsdown.config.ts
Due: typecheck, lint, format

refactor(rpc-client): migrate to zod/mini for reduced bundle size
  src/rpc-client.ts
Due: typecheck, lint, format

fix: move zod to dependencies
  package.json
  pnpm-lock.yaml
Due: lint, format

Revert "refactor(rpc-client): migrate to zod/mini for reduced bundle size"
  src/rpc-client.ts
Due: typecheck, lint, format

Reapply "refactor(rpc-client): migrate to zod/mini for reduced bundle size"
  src/rpc-client.ts
Due: typecheck, lint, format

refactor(rpc): extract RPC schemas to dedicated schema file
  src/rpc-client.ts
  src/schemas/rpc.ts
Due: typecheck, lint, format

feat(ci): add test coverage reporting with GitHub Pages deployment
  .github/workflows/ci.yaml
  package.json
Due: lint, format

chore(deps): upgrade vitest to v4.0.15
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, format

feat(test): configure vitest projects for monorepo coverage
  package.json
  vitest.config.ts
Due: typecheck, lint, format

chore: update actionss
  .github/workflows/ci.yaml
Due: lint, format

feat(ci): add coverage badge generation
  .github/workflows/ci.yaml
  vitest.config.ts
Due: typecheck, lint, format

chore(ci): update actions
  .github/workflows/ci.yaml
Due: lint, format

feat(mocks): add Hono-based MCP mock server for testing
  mocks/mcp-server.ts
  pnpm-workspace.yaml
Due: typecheck, lint, format

feat(mocks): integrate MCP mock server into MSW handlers
  mocks/handlers.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx,js,jsx,mts,cts}
  lint: any of: *.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}
  format: any of: *
