Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Lint first - fail fast on warnings
    oxlint:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
      stage_fixed: true

    # Format after linting passes
    oxfmt:
      glob: "*"
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    # Type check TypeScript files
    typecheck:
      glob: "*.{ts,tsx,mts,cts}"
      run: pnpm run typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

Update the vitest config for the test and remove test which needs dependency
  tests/examples/ai-sdk-integration.test.ts
  vitest.config.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix CI
  examples/README.md
Due: oxfmt, lint, format

Fix CI
  examples/package.json
  knip.config.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix CI Lint issues
  tsconfig.json
Due: oxfmt, lint, format

Linter issues fix
  tsconfig.json
Due: oxfmt, lint, format

Fix CI Lint issues
  examples/ai-sdk-integration.ts
  examples/openai-integration.ts
  examples/search-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(defender): implement buildDefenderFields function to map SDK config to RPC format
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(deps): update nix flake inputs
  flake.lock
Due: oxfmt, format

fix(toolsets): prevent x-account-id leak across concurrent fetchTools
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(defender): simplify buildDefenderFields with early null return + type guard
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(defender)!: switch default behavior to defer to project dashboard
  README.md
  src/toolsets.test.ts
  src/toolsets.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(defender): add defenderMode getter and once-per-process override warning
  README.md
  examples/README.md
  examples/defender-config.ts
  src/index.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/types.ts
  tests/examples/defender-config.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(defender): add live RPC section + document defenderMetadata response shape
  examples/defender-config.ts
  mocks/handlers.stackone-rpc.ts
  tests/examples/defender-config.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(examples): correct defender-config description after live-section addition
  examples/README.md
Due: oxfmt, lint, format

docs(defender-config example): show env-var override invocations
  examples/defender-config.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(tools): handle binary file downloads in tool execution
  src/index.ts
  src/requestBuilder.test.ts
  src/requestBuilder.ts
  src/rpc-client.test.ts
  src/rpc-client.ts
  src/toolsets.ts
  src/utils/binary-response.test.ts
  src/utils/binary-response.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(readme): document file-download return shape from tool execution
  README.md
Due: oxfmt, lint, format

fix(tools): harden binary download handling per review
  README.md
  src/requestBuilder.ts
  src/rpc-client.test.ts
  src/rpc-client.ts
  src/toolsets.ts
  src/utils/binary-response.test.ts
  src/utils/binary-response.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(tests): keep binary-download tests type-safe under union return type
  src/requestBuilder.test.ts
  src/rpc-client.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix: lazy-load optional ai peer
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

test: cover optional ai peer import regression
  src/tool-optional-ai.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix for issue #350 (dual ESM/CJS output so Node16 TypeScript consumers work)
  package.json
  scripts/package-exports.test.ts
  tsconfig.json
  tsdown.config.ts
Due: oxlint, oxfmt, typecheck, lint, format

Address copilot and cubic comments
  scripts/package-exports.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix CI issues
  scripts/package-exports.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

Addresss copilot comment regarding import.meta.dirname
  scripts/package-exports.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

style(test): format tool-optional-ai.test.ts with oxfmt
  src/tool-optional-ai.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

test: cover CJS output in optional ai peer regression test
  src/tool-optional-ai.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(toolset): inherit feedback from MCP, add disable flag
  mocks/mcp-server.ts
  src/feedback.test.ts
  src/feedback.ts
  src/index.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(ENG-733): support flat_prefixed MCP param style
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(ENG-733): harden envelope split key handling
  src/mcp-client.test.ts
  src/mcp-client.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(ai-sdk): widen optional peer to support AI SDK v7
  README.md
  examples/README.md
  examples/ai-sdk-integration.ts
  examples/search-tools.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/tool.test.ts
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(examples): use stepCountIs for AI SDK v5–v7 peer range
  README.md
  examples/README.md
  examples/ai-sdk-integration.ts
  examples/search-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

style: restore tab indentation in readme example
  README.md
Due: oxfmt, lint, format

fix(ai-sdk): keep execute call sites valid across ai v5-v7
  src/tool.test.ts
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: test against the lower half of the ai peer range
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

docs(examples): note ToolLoopAgent needs ai v6+
  examples/ai-sdk-integration.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: add a v7 leg and assert the resolved ai version
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

test(ai-sdk): assert toAISDK output satisfies generateText tools
  src/tool.test-d.ts
Due: oxlint, oxfmt, typecheck, lint, format
