Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

oxlint:
  run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
  stage_fixed: true

oxfmt:
  run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm run typecheck

lint:
  run: pnpm run lint
  stage_fixed: true

format:
  run: pnpm exec biome format --write {staged_files}
  stage_fixed: true

ci: run conformance against stackone-ai-python 508ee6e
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(toolsets): keep endUserIds from the most recently started fetchAccounts
  src/end-user-id.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(migration): name all four headers execute() withholds from actions
  MIGRATION.md
Due: oxfmt, lint, format

test(vectors): sync to sdk-conformance 7347926
  tests/vectors/header-arguments.json
  tests/vectors/header-names.json
Due: oxfmt, lint, format

ci: pin sdk-conformance to 7347926
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: run conformance against stackone-ai-python d307ed8
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

chore(deps): update nix flake inputs
  flake.lock
Due: oxfmt, format

docs: describe non-shared discovery, the failed-account refusal and the end-user lookup
  MIGRATION.md
  README.md
Due: oxfmt, lint, format

fix(toolsets): address the second review on multiple and non-shared accounts
  src/end-user-id.test.ts
  src/mcp-client.ts
  src/rate-limit.test.ts
  src/tool.ts
  src/toolsets.search-execute.test.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolsets): don't cache a listing scoped by a discovery from before a clear
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(vectors): sync to sdk-conformance f36bb79 and grade the two new messages
  .github/workflows/ci.yaml
  src/vectors.test.ts
  tests/vectors/messages.json
Due: oxlint, oxfmt, typecheck, lint, format

ci: run conformance against stackone-ai-python 7db755c
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(toolsets): refuse only for a failed account on the action's own connector, and keep a lookup 429 fatal
  src/end-user-id.test.ts
  src/mcp-client.ts
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(mcp-client): match an end-user refusal by the account id it ends with, as Python does
  src/mcp-client.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: pin sdk-conformance to 27796bb
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: run conformance against stackone-ai-python 8ab4a17
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(toolset): re-list only the failed accounts that could serve the action
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolset): look up the providers of failed accounts named explicitly before refusing an action
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(mcp-client): give the end-user refusal the failed lookup as its cause
  src/end-user-id.test.ts
  src/mcp-client.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolset): fail discovery when every active account is non-shared
  src/end-user-id.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolset): say shared accounts are used, in the STACKONE_ACCOUNT_ID warning and the docs
  MIGRATION.md
  README.md
  examples/ai-sdk-integration.ts
  examples/anthropic-integration.ts
  examples/auth-management.ts
  examples/claude-agent-sdk-integration.ts
  examples/openai-integration.ts
  examples/openai-responses-integration.ts
  src/toolsets.test.ts
  src/toolsets.ts
  tests/vectors/messages.json
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolset): don't re-list an account that failed during the same execute()
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(mcp-client): keep a retried 429 on record while another request in the session is answered
  src/mcp-client.ts
  src/rate-limit.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(vectors): sync to sdk-conformance 7369b74, with a no-shared-accounts emitter
  src/vectors.test.ts
  tests/vectors/messages.json
Due: oxlint, oxfmt, typecheck, lint, format

ci: pin sdk-conformance to 7369b74
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: run conformance against stackone-ai-python 80b580b
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

docs: qualify the lookup cause for a rate limit, and what a failed account on another provider costs
  MIGRATION.md
  README.md
Due: oxfmt, lint, format

ci: pin sdk-conformance to ddd2074
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: run conformance against stackone-ai-python b9bf8ea
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(toolsets): rethrow a rate-limited provider lookup from execute()
  README.md
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolsets): remember when execute()'s provider lookup cannot name a failed account
  README.md
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: pin sdk-conformance to 960a542
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: run conformance against stackone-ai-python 970d7b8
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(toolsets): act on a provider-lookup miss in the call that made it, drop one across a clear, and forget it once the account is named
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: run conformance against stackone-ai-python 9a84c2b
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: pin sdk-conformance to 55bd126
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: run conformance against stackone-ai-python eeef2c0
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: run conformance against stackone-ai-python 9a35e2e
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: run conformance against stackone-ai-python 441a0ca
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: pin conformance and stackone-ai-python to their main commits
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

Path conditions:
  oxlint: any of: *.{ts,tsx,js,jsx,mts,cts}
  oxfmt: any of: *
  typecheck: (any of: *.{ts,tsx,mts,cts}) or (any of: *.{ts,tsx,js,jsx,mts,cts})
  lint: any of: *.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}
  format: any of: *
