Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Lint first - fail fast on warnings
    oxlint:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
      stage_fixed: true

    # Format after linting passes
    oxfmt:
      glob: "*"
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    # Type check TypeScript files
    typecheck:
      glob: "*.{ts,tsx,mts,cts}"
      run: pnpm run typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

chore(pnpm): add security settings for supply chain attack prevention
  pnpm-workspace.yaml
Due: oxfmt, lint, format

docs(rules): document pnpm security settings and add nix-workflow symlink
  .claude/rules/pnpm-usage.md
  .cursor/rules/nix-workflow.mdc
Due: oxfmt, lint, format

chore: format pnpm-usage.md table
  .claude/rules/pnpm-usage.md
Due: oxfmt, lint, format

chore(pnpm): migrate from onlyBuiltDependencies to allowBuilds
  .claude/rules/pnpm-usage.md
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore(pnpm): remove unused chokidar from trustPolicyExclude
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore: remove unused comment
  pnpm-workspace.yaml
Due: oxfmt, lint, format

refactor(tools): rename meta tools to utility tools with tool_* prefix
  README.md
  examples/fetch-tools.test.ts
  examples/utility-tools.ts
  src/feedback.test.ts
  src/feedback.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

Update src/tool.test.ts
  src/tool.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(tests): update test descriptions from 'meta tools' to 'utility tools'
  src/tool.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(skills): add release-please skill for triggering versioned releases
  .claude/skills/release-please/SKILL.md
  CLAUDE.md
Due: oxfmt, lint, format

chore(deps): update nix flake inputs
  flake.lock
Due: oxfmt, format

refactor(skills): migrate skills to agent-skills-nix
  .claude/skills/orama-integration/SKILL.md
  .claude/skills/release-please/SKILL.md
  .gitignore
  CLAUDE.md
  flake.lock
  flake.nix
Due: oxfmt, lint, format

chore(skills): add .agents/skills directory for Codex compatibility
  .gitignore
  flake.nix
Due: oxfmt, format

fix(examples): update TanStack AI integration for v0.3.0
  examples/tanstack-ai-integration.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(skills): use defaultLocalTargets from agent-skills-nix
  .gitignore
  CLAUDE.md
  flake.lock
  flake.nix
Due: oxfmt, lint, format

chore(envrc): add watch_file for pnpm-lock.yaml and pnpm-workspace.yaml
  .envrc
Due: oxfmt, format

Port the semantic search to the TypeScript SDK
  examples/semantic-search.test.ts
  examples/semantic-search.ts
  mocks/handlers.mcp.ts
  mocks/mcp-server.ts
  src/index.ts
  src/semantic-search.test.ts
  src/semantic-search.ts
  src/tool.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix the linter errors
  examples/semantic-search.test.ts
  examples/semantic-search.ts
  src/index.ts
  src/semantic-search.test.ts
  src/semantic-search.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix the linter errors
  examples/semantic-search.ts
Due: oxlint, oxfmt, typecheck, lint, format

Implement the PR suggestions from Cubic
  src/semantic-search.ts
  src/tool.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

Respect the backend results unless top_k specified explicitly
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

Add detailed example showing semantic search for the Vercel AI SDK with tests
  examples/ai-sdk-integration.test.ts
  examples/ai-sdk-integration.ts
  examples/semantic-search.test.ts
  examples/semantic-search.ts
  src/semantic-search.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

Tool search with semantic and auto mode
  README.md
  examples/README.md
  examples/ai-sdk-integration.test.ts
  examples/ai-sdk-integration.ts
  examples/anthropic-integration.ts
  examples/claude-agent-sdk-integration.test.ts
  examples/claude-agent-sdk-integration.ts
  examples/fetch-tools-debug.ts
  examples/fetch-tools.test.ts
  examples/fetch-tools.ts
  examples/openai-integration.test.ts
  examples/openai-integration.ts
  examples/openai-responses-integration.test.ts
  examples/openai-responses-integration.ts
  examples/search-tools.ts
  examples/tanstack-ai-integration.test.ts
  examples/tanstack-ai-integration.ts
  examples/utility-tools.ts
  mocks/constants.ts
  mocks/handlers.mcp.ts
  mocks/handlers.stackone-ai.ts
  mocks/handlers.stackone-rpc.ts
  src/feedback.test.ts
  src/index.ts
  src/local-search.test.ts
  src/local-search.ts
  src/mcp-client.test.ts
  src/rpc-client.test.ts
  src/semantic-search.test.ts
  src/semantic-search.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/utils/error-stackone-api.test.ts
  src/utils/normalize.test.ts
  src/utils/normalize.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix CI Lint issues
  examples/fetch-tools.ts
  examples/search-tools.ts
  src/local-search.test.ts
  src/local-search.ts
  src/tool.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/utils/normalize.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

Cubic fixes
  src/semantic-search.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor earch to make aligned with defender
  examples/search-tools.ts
  src/index.ts
  src/toolsets.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix CI Lint issues
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

Add topk example
  examples/search-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

add LLM-driven tool_search and tool_execute
  examples/meta-tools.ts
  src/index.ts
  src/meta-tools.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix lint and tests
  src/meta-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

lint and tests
  examples/meta-tools.ts
  src/meta-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

Lint formatter CI vs local
  examples/meta-tools.ts
  src/meta-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

PR Suggestion from bots
  examples/meta-tools.ts
  src/meta-tools.test.ts
  src/meta-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

Fix linter error
  examples/meta-tools.ts
  src/meta-tools.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

Port the search execute changes to the node
  examples/search-tools.ts
  src/index.ts
  src/meta-tools.test.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format
