Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Lint first - fail fast on warnings
    oxlint:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
      stage_fixed: true

    # Format after linting passes
    oxfmt:
      glob: "*"
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    # Type check TypeScript files
    typecheck:
      glob: "*.{ts,tsx,mts,cts}"
      run: pnpm run typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

fix(deps): move zod from dev to prod catalog
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

test: remove useless test(it is test for msw lol)
  src/toolsets.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(rule): biome -> oxlint
  .claude/rules/pnpm-usage.md
Due: oxfmt, lint, format

chore(oxfmt): ignore changelog
  .oxfmtrc.jsonc
Due: oxfmt, lint, format

fix(release): give permission to create id for publishing
  .github/workflows/release.yaml
Due: oxfmt, lint, format

fix(release): enable provence
  .github/workflows/release.yaml
Due: oxfmt, lint, format

fix(ci): latest -> lts
  .github/workflows/release.yaml
Due: oxfmt, lint, format

chore: clone fetch-depth
  .github/workflows/release.yaml
Due: oxfmt, lint, format

fix(ci): move install to nix action
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/dry-publish.yaml
  .github/workflows/release.yaml
Due: oxfmt, lint, format

fix(ci): remove --provenance
  .github/workflows/release.yaml
Due: oxfmt, lint, format

chore: publish with npm
  .github/workflows/release.yaml
  flake.nix
  package.json
Due: oxfmt, lint, format

fix(ci): pack
  .github/workflows/release.yaml
Due: oxfmt, lint, format

Revert "fix(ci): pack (#244)"
  .github/workflows/release.yaml
Due: oxfmt, lint, format

Revert "fix(ci): remove --provenance (#242)"
  .github/workflows/release.yaml
  flake.nix
  package.json
Due: oxfmt, lint, format

docs(readme): add npm version and install size badges
  README.md
Due: oxfmt, lint, format

docs(readme): remove install size badge
  README.md
Due: oxfmt, lint, format

refactor(nix): migrate from flake-utils to flake-parts
  flake.lock
  flake.nix
Due: oxfmt, format

feat(nix): add nixfmt-rfc-style to dev dependencies and lefthook
  flake.nix
  lefthook.yaml
Due: oxfmt, lint, format

feat(toolsets): add accountIds option to StackOneToolSetConfig
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(toolsets): add tests for accountIds constructor option
  src/toolsets.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(toolsets): use MergeExclusive for mutually exclusive account options
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(toolsets): update tests for MergeExclusive account config
  src/toolsets.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(toolsets): add type-level tests for StackOneToolSetConfig
  src/toolsets.test-d.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(toolset): use simplifyDeep
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(toolsets): add runtime validation for mutually exclusive account options
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(toolsets): add runtime validation test for mutually exclusive accounts
  src/toolsets.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

Revert "fix(ci): revert changes 2.0.5 ~ 2.0.7 (#246)"
  .github/workflows/release.yaml
  flake.nix
  package.json
Due: oxfmt, lint, format

chore: addd similarity
  flake.nix
Due: oxfmt, format

chore: add typos
  flake.nix
  typos.toml
Due: oxfmt, format

chore: make cis parallel
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: add typos
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

chore: format
  CHANGELOG.md
  README.md
  examples/ai-sdk-integration.ts
  examples/anthropic-integration.ts
  examples/claude-agent-sdk-integration.ts
  examples/fetch-tools-debug.ts
  examples/meta-tools.ts
  examples/openai-integration.test.ts
  examples/openai-integration.ts
  examples/openai-responses-integration.test.ts
  examples/openai-responses-integration.ts
  examples/tanstack-ai-integration.ts
  src/consts.ts
  src/headers.test.ts
  src/headers.ts
  src/requestBuilder.test.ts
  src/requestBuilder.ts
  src/toolsets.test.ts
  src/toolsets.ts
  typos.toml
Due: oxlint, oxfmt, typecheck, lint, format

ci(lefthook): add typos check to pre-push hook
  lefthook.yaml
Due: oxfmt, lint, format

chore(lint): exclude CHANGELOG.md from oxlint checks
  .oxlintrc.jsonc
Due: oxfmt, lint, format

chore(changelog): revert format to match main branch
  CHANGELOG.md
Due: oxfmt, lint, format

chore(deps): update oxfmt oxlint-tsgo
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore: format
  examples/tsconfig.json
  tsconfig.json
Due: oxfmt, lint, format

refactor(toolsets): remove unified API validation and support
  src/consts.ts
  src/schema.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore: typos hidden check
  typos.toml
Due: oxfmt, format
