Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Lint first - fail fast on warnings
    oxlint:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
      stage_fixed: true

    # Format after linting passes
    oxfmt:
      glob: "*"
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    # Type check TypeScript files
    typecheck:
      glob: "*.{ts,tsx,mts,cts}"
      run: pnpm run typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

refactor(deps): add ai to devDependencies catalog for testing
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

refactor(deps): move zod to peerDependencies with v4-mini
  README.md
  examples/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/feedback.ts
  src/headers.ts
  src/schema.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(readme): improve Nix development environment setup instructions
  README.md
Due: oxfmt, lint, format

chore(deps): update @tanstack/ai packages to 0.2.0 ENG-11754
  examples/tanstack-ai-integration.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, oxfmt, typecheck, lint, format

chore(lefthook): run pre-push in parallel
  lefthook.yaml
Due: oxfmt, lint, format

chore(publish): exclude all test files from npm package
  package.json
Due: oxfmt, lint, format

chore(flake): remove typos
  flake.nix
Due: oxfmt, format

chore(nix): remove flake-parts dependency
  flake.lock
  flake.nix
Due: oxfmt, format

chore(deps): add @anthropic-ai/claude-agent-sdk as peer dependency
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

feat(types): add Claude Agent SDK types
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(tool): add toClaudeAgentSdk() method to Tools class
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(readme): simplify Claude Agent SDK integration example
  README.md
Due: oxfmt, lint, format

feat(utils): add JSON Schema to Zod conversion utility
  src/utils/json-schema-to-zod.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(examples): use toClaudeAgentSdk() in Claude Agent SDK example
  examples/claude-agent-sdk-integration.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(utils): use Zod's native z.fromJSONSchema() for JSON Schema conversion
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/utils/json-schema-to-zod.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore: use jsonSchema from ai
  src/tool.ts
  src/utils/json-schema-to-zod.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(deps): relax zod peer dependency to support v3.25.0+
  pnpm-workspace.yaml
Due: oxfmt, lint, format

refactor(types): use McpSdkServerConfigWithInstance from Claude Agent SDK
  src/tool.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(tool): add tests for toClaudeAgentSdk and toClaudeAgentSdkTool
  src/tool.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(nix): use mkShellNoCC for lighter dev shell
  flake.nix
Due: oxfmt, format

chore(deps): update nix flake inputs
  flake.lock
Due: oxfmt, format

chore: remove typescript
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore: move oxlint&oxfmt to flake
  flake.nix
  knip.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, oxfmt, typecheck, lint, format

chore: format
  .claude/rules/file-operations.md
  .claude/rules/typescript-patterns.md
  .claude/rules/typescript-testing.md
  .claude/skills/orama-integration/SKILL.md
  .gitleaks.toml
  README.md
  examples/README.md
Due: oxfmt, lint, format

chore(nix): update nixfmt-rfc-style to nixfmt
  flake.nix
Due: oxfmt, format

chore(nix): migrate lefthook from npm to nix
  flake.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

ci(nix): use nix profile install instead of nix develop
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(ci): skip pnpm install for gitleaks job
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

perf(ci): use --inputs-from . for nixpkgs resolution
  .github/actions/setup-nix/action.yaml
Due: oxfmt, lint, format

chore(nix): remove redundant tsgolint package
  .github/workflows/ci.yaml
  flake.nix
Due: oxfmt, lint, format

docs(rules): add nix-workflow rule
  .claude/rules/nix-workflow.md
  CLAUDE.md
Due: oxfmt, lint, format

chore(ci): remove unused similarity and nixfmt from lint job
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

chore(nix): update flake.lock
  flake.lock
Due: oxfmt, format

perf(ci): switch to nix-quick-install-action for faster CI
  .github/actions/setup-nix/action.yaml
Due: oxfmt, lint, format

Revert "perf(ci): switch to nix-quick-install-action for faster CI (#298)"
  .github/actions/setup-nix/action.yaml
Due: oxfmt, lint, format

chore: move tsgo to nix
  flake.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore(lint): add no-param-reassign rule
  .oxlintrc.jsonc
Due: oxfmt, lint, format

chore(lint): use external schema URLs for oxlint/oxfmt configs
  .oxfmtrc.jsonc
  .oxlintrc.jsonc
Due: oxfmt, lint, format
