Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Lint first - fail fast on warnings
    oxlint:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
      stage_fixed: true

    # Format after linting passes
    oxfmt:
      glob: "*"
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    # Type check TypeScript files
    typecheck:
      glob: "*.{ts,tsx,mts,cts}"
      run: pnpm run typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

test(examples): execute the real example files
  mocks/handlers.anthropic.ts
  mocks/handlers.openai.ts
  mocks/handlers.ts
  mocks/mcp-server.ts
  tests/examples/ai-sdk-integration.test.ts
  tests/examples/anthropic-integration.test.ts
  tests/examples/auth-management.test.ts
  tests/examples/claude-agent-sdk-integration.test.ts
  tests/examples/defender-config.test.ts
  tests/examples/fetch-tools.test.ts
  tests/examples/openai-integration.test.ts
  tests/examples/run-example.ts
  tests/examples/search-tools.test.ts
  tests/examples/tanstack-ai-integration.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor!: remove client-side search from the Node SDK
  README.md
  examples/README.md
  examples/search-tools.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/agent-tools.test.ts
  src/consts.ts
  src/index.ts
  src/local-search.test.ts
  src/local-search.ts
  src/semantic-search.test.ts
  src/semantic-search.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/types.ts
  src/utils/normalize.test.ts
  src/utils/normalize.ts
  src/utils/tfidf-index.test.ts
  src/utils/tfidf-index.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix!: remove search leftovers the typecheck never saw
  scripts/benchmark-search.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(deps): update nix flake inputs
  flake.lock
Due: oxfmt, format

chore: remove unused claude workflow
  .github/workflows/claude.yaml
Due: oxfmt, lint, format

chore: remove unused claude workflow (#382)
  .github/workflows/claude.yaml
Due: oxfmt, lint, format

feat: add search(), execute() and submitFeedback() with session ids
  src/consts.ts
  src/index.ts
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs: document search/execute, feedback and the pass-through schema
  .env.example
  CLAUDE.md
  README.md
  examples/README.md
  examples/auth-management.ts
  examples/openai-integration.ts
  examples/search-and-execute.ts
  flake.nix
  tests/examples/openai-integration.test.ts
  tests/examples/search-and-execute.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

style: run oxfmt on formatted files
  examples/README.md
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolsets): remove unused imports to pass oxlint
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor!: rebuild the toolset on the served MCP catalog
  mocks/handlers.example-api.ts
  mocks/handlers.mcp.ts
  mocks/handlers.stackone-accounts.ts
  mocks/handlers.stackone-ai.ts
  mocks/handlers.stackone-rpc.ts
  mocks/handlers.ts
  mocks/mcp-server.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/consts.ts
  src/envelope.test.ts
  src/envelope.ts
  src/headers.test.ts
  src/headers.ts
  src/index.ts
  src/mcp-client.test.ts
  src/mcp-client.ts
  src/requestBuilder.test.ts
  src/requestBuilder.ts
  src/rpc-client.test.ts
  src/rpc-client.ts
  src/schema.test.ts
  src/schema.ts
  src/tool-optional-ai.test.ts
  src/tool.test-d.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/types.ts
  src/utils/binary-response.ts
  src/utils/concurrency.ts
  src/utils/error-stackone-api.test.ts
  src/utils/error-stackone-api.ts
  src/utils/serialize.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor!: root every SDK error at StackOneError
  src/index.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/utils/error-toolset.test.ts
  src/utils/error-toolset.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: run the sdk-conformance suite against the built SDK
  .github/workflows/ci.yaml
  knip.config.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor!: remove SDK-side defender configuration
  README.md
  examples/README.md
  examples/defender-config.ts
  mocks/handlers.stackone-rpc.ts
  src/index.ts
  src/rpc-client.test.ts
  src/rpc-client.ts
  src/schema.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/types.ts
  tests/examples/defender-config.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(tools): add executeOpenAIToolCalls()
  src/tool.test.ts
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(download): reduce Content-Disposition filenames to a safe basename
  src/utils/binary-response.test.ts
  src/utils/binary-response.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolsets)!: stop model-supplied headers from switching tenant
  mocks/mcp-server.ts
  src/headers.test.ts
  src/headers.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/utils/logger.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor!: remove the client-side feedback tool
  README.md
  mocks/handlers.stackone-ai.ts
  src/feedback.test.ts
  src/feedback.ts
  src/index.ts
  src/toolsets.test.ts
  src/toolsets.ts
  tests/examples/fetch-tools.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(tool): preserve root schema keywords in toJsonSchema pass-through
  src/tool.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs: describe MCP-only execution, dryRun and download links
  README.md
Due: oxfmt, lint, format

refactor!: execute every tool over MCP tools/call
  mocks/handlers.mcp.ts
  mocks/handlers.stackone-rpc.ts
  mocks/handlers.ts
  mocks/mcp-server.ts
  src/consts.ts
  src/envelope.test.ts
  src/envelope.ts
  src/headers.test.ts
  src/headers.ts
  src/index.ts
  src/mcp-client.test.ts
  src/mcp-client.ts
  src/rpc-client.test.ts
  src/rpc-client.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.search-execute.test.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/types.ts
  src/utils/binary-response.test.ts
  src/utils/binary-response.ts
  src/utils/serialize.ts
  tests/examples/claude-agent-sdk-integration.test.ts
  tests/examples/fetch-tools.test.ts
  tests/examples/openai-integration.test.ts
  tests/examples/search-and-execute.test.ts
  tests/examples/tanstack-ai-integration.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: pin sdk-conformance to the MCP-only suite
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

test: keep the search-and-execute example out of the root typecheck
  src/toolsets.search-execute.test.ts
  tests/examples/search-and-execute.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

test: type-check the search-and-execute example against source
  tests/examples/search-and-execute.test.ts
  tsconfig.json
Due: oxlint, oxfmt, typecheck, lint, format

fix(tools)!: forward only the header arguments a served schema declares
  README.md
  src/headers.test.ts
  src/headers.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.search-execute.test.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(feedback): submit feedback with one tools/call on the first account
  README.md
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(toolsets): pin getTool() to the first listed duplicate
  src/toolsets.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(errors): remove the unused describeApiFailure()
  README.md
  src/utils/error-stackone-api.test.ts
  src/utils/error-stackone-api.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolsets): share one in-flight account discovery between concurrent calls
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(tools): serialise a tool result of undefined as "null"
  src/tool.test.ts
  src/utils/serialize.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(types): declare the fields a search hit carries
  examples/search-and-execute.ts
  src/toolsets.test-d.ts
  src/toolsets.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs: add a 2.x to 3.0 migration guide
  MIGRATION.md
  README.md
Due: oxfmt, lint, format

ci: pin sdk-conformance to 9b5605a
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

ci: re-check the PR title when a draft is marked ready
  .github/workflows/check-title.yaml
Due: oxfmt, lint, format

fix(toolsets): reject an empty account id
  src/toolsets.search-execute.test.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(examples): print a non-numeric similarity score without throwing
  examples/search-and-execute.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(headers): declare no names for a closed or untyped headers object
  MIGRATION.md
  README.md
  src/headers.test.ts
  src/headers.ts
Due: oxlint, oxfmt, typecheck, lint, format
