Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

typecheck:
  run: pnpm run typecheck

lint:
  run: pnpm run lint
  stage_fixed: true

format:
  run: pnpm exec biome format --write {staged_files}
  stage_fixed: true

fix(lint): add biome-ignore for MCP SDK type mismatch
  src/toolsets/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, lint, format

build(biome): ignore Nix store paths in biome configuration
  biome.json
Due: lint, format

fix: lefthook
  .githooks/pre-commit
  lefthook.yml
Due: lint, format

chore: add flake
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: format

docs(readme): add Nix flake development environment section
  README.md
Due: lint, format

ci: add setup-nix composite action
  .github/actions/setup-nix/action.yaml
Due: lint, format

ci(test): migrate to Nix-based workflow
  .github/workflows/test.yml
Due: lint, format

ci(lint): migrate to Nix-based workflow
  .github/workflows/lint.yml
Due: lint, format

ci: add Nix flake validation workflow
  .github/workflows/nix-flake.yaml
Due: lint, format

chore: remove obsolete skill and cursor rule files
  .claude/skills/openapi-architecture/SKILL.md
  .cursor/rules/biome-standards.mdc
Due: lint, format

docs: replace bun references with pnpm
  README.md
  examples/README.md
Due: lint, format

docs(examples): fix test commands to run from examples directory
  examples/README.md
Due: lint, format

chore(examples): remove bun from devEngines
  examples/package.json
Due: lint, format

chore: remove all remaining bun references
  examples/human-in-the-loop.ts
  examples/index.ts
  examples/tsconfig.json
  package.json
  src/tool.ts
Due: typecheck, lint, format

feat: add typecheck and test commands for examples submodule
  examples/package.json
  examples/sample-document.txt
  examples/vitest.config.ts
  package.json
Due: typecheck, lint, format

feat: add --aggregate-output to test:all and typecheck:all
  package.json
Due: lint, format

feat: add -r and --no-bail flags to aggregate commands
  package.json
Due: lint, format

build(deps): migrate peerDependencies to catalog references
  package.json
Due: lint, format

chore(deps): remove Bun runtime entries from lockfile
  pnpm-lock.yaml
Due: lint, format

fix(flake): simplify shell hook
  flake.nix
Due: format

refactor(examples): migrate from maxSteps to stopWhen API
  examples/ai-sdk-integration.ts
  examples/human-in-the-loop.ts
  examples/meta-tools.ts
  examples/openai-integration.ts
  examples/planning.ts
Due: typecheck, lint, format

test(examples): remove Vitest test infrastructure
  examples/examples.spec.ts
  examples/package.json
  examples/tsconfig.json
  examples/vitest.config.ts
  examples/vitest.setup.ts
Due: typecheck, lint, format

build(deps): remove msw and vitest from examples dependencies
  package.json
  pnpm-lock.yaml
Due: lint, format

chore: standardise YAML file extensions to .yaml
  .github/workflows/check-title.yaml
  .github/workflows/claude.yaml
  .github/workflows/dry-publish.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  CLAUDE.md
  lefthook.yaml
Due: lint, format

chore: update gha
  .github/workflows/claude.yaml
  .github/workflows/dry-publish.yaml
  .github/workflows/lint.yaml
  .github/workflows/nix-flake.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: lint, format

refactor(ci): migrate dry-publish and release workflows to Nix
  .github/workflows/dry-publish.yaml
Due: lint, format

refactor(ci): replace pnpm/action-setup with Nix in release workflow
  .github/workflows/release.yaml
Due: lint, format

refactor: flatten test directory structure
  src/tests/array.spec.ts
  src/tests/base.spec.ts
  src/tests/feedback.spec.ts
  src/tests/requestBuilder.spec.ts
  src/tests/stackone.mcp-fetch.spec.ts
  src/tests/stackone.spec.ts
  src/tests/tfidf-index.spec.ts
Due: typecheck, lint, format

test: skip Bun-dependent MCP integration tests
  src/tests/feedback.spec.ts
  src/tests/requestBuilder.spec.ts
  src/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, lint, format

docs: update GPT model references to gpt-5.1
  README.md
  examples/ai-sdk-integration.ts
  examples/human-in-the-loop.ts
  examples/meta-tools.ts
  examples/openai-integration.ts
Due: typecheck, lint, format

fix: set default baseUrl to https://api.stackone.com
  src/consts.ts
  src/index.ts
  src/tools/feedback.ts
  src/toolsets/stackone.ts
Due: typecheck, lint, format

refactor: consolidate constants into single consts.ts file
  src/constants.ts
  src/consts.ts
  src/index.ts
  src/tool.ts
Due: typecheck, lint, format

feat!: replace @stackone/stackone-client-ts with custom RPC client
  mocks/handlers.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/client/index.ts
  src/client/rpc-client.ts
  src/client/tests/rpc-client.spec.ts
  src/toolsets/base.ts
  src/toolsets/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, lint, format

refactor(client): flatten directory structure
  src/client/index.spec.ts
  src/client/index.ts
  src/client/rpc-client.ts
Due: typecheck, lint, format

refactor: flatten client directory structure
  src/mcp-client.ts
  src/rpc-client.spec.ts
  src/rpc-client.ts
  src/toolsets/base.ts
  src/toolsets/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, lint, format

refactor(tests): remove redundant outer describe block in rpc-client.spec.ts
  src/rpc-client.spec.ts
Due: typecheck, lint, format

refactor(tests): remove useless constructor tests from rpc-client.spec.ts
  src/rpc-client.spec.ts
Due: typecheck, lint, format

refactor(tests): remove describe block and use test() instead of it()
  src/rpc-client.spec.ts
Due: typecheck, lint, format

feat(rpc-client): add Zod validation for request/response schemas
  src/rpc-client.ts
Due: typecheck, lint, format

refactor(tests): replace type assertions with toMatchObject in rpc-client tests
  src/rpc-client.spec.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx,js,jsx,mts,cts}
  lint: any of: *.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}
  format: any of: *
