Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Lint first - fail fast on warnings
    oxlint:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
      stage_fixed: true

    # Format after linting passes
    oxfmt:
      glob: "*"
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    # Type check TypeScript files
    typecheck:
      glob: "*.{ts,tsx,mts,cts}"
      run: pnpm run typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

fix(tools): reject NaN and Infinity arguments instead of sending them as null
  src/tool.test.ts
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolsets): validate submitFeedback() sessionId as execute() does
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

test: dispatch mock meta tools only in search_execute mode
  mocks/handlers.mcp.ts
  mocks/mcp-server.ts
  src/toolsets.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs: match the README and migration guide to what the code does
  MIGRATION.md
  README.md
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: pin sdk-conformance to 6a6991d
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(toolsets): reject an empty accountId instead of widening to every account
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(toolsets): stop reading STACKONE_ACCOUNT_ID
  .env.example
  MIGRATION.md
  README.md
  examples/README.md
  examples/ai-sdk-integration.ts
  examples/anthropic-integration.ts
  examples/auth-management.ts
  examples/claude-agent-sdk-integration.ts
  examples/openai-integration.ts
  examples/openai-responses-integration.ts
  src/toolsets.search-execute.test.ts
  src/toolsets.test.ts
  src/toolsets.ts
  tests/examples/search-and-execute.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat: retry HTTP 429 responses and fail fan-outs on a persistent 429
  src/consts.ts
  src/mcp-client.ts
  src/rate-limit.test.ts
  src/toolsets.ts
  src/utils/concurrency.test.ts
  src/utils/concurrency.ts
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(readme): describe rate-limit retries
  README.md
Due: oxfmt, lint, format

fix(retry): read only digits or an HTTP-date as Retry-After
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: pin sdk-conformance to 9d5efab
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(retry): read Retry-After as a date only when it starts with a weekday
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(retry): return the 429 when a retry's wait would outlast the timeout
  README.md
  src/mcp-client.ts
  src/rate-limit.test.ts
  src/toolsets.ts
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(headers): keep a tool argument or header named __proto__
  src/headers.test.ts
  src/headers.ts
  src/tool.test.ts
  src/toolsets.search-execute.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(mock): record each tools/call from the raw request body
  mocks/mcp-server.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(types): type execute() and submitFeedback() results as ActionResult
  MIGRATION.md
  src/index.ts
  src/tool.ts
  src/toolsets.test-d.ts
  src/toolsets.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs: describe fetchTools() arguments and empty account ids as they now work
  MIGRATION.md
  README.md
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(schema): keep a schema property named __proto__ when folding root combinators
  src/headers.ts
  src/schema.test.ts
  src/schema.ts
  src/utils/set-entry.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(headers): drop non-object header arguments that aren't declared as ordinary fields
  MIGRATION.md
  README.md
  src/headers.test.ts
  src/headers.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci: pin sdk-conformance to 67103ca
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(headers): treat array-typed headers field without object as ordinary
  src/headers.test.ts
  src/headers.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(errors): add ToolArgumentsError
  src/index.ts
  src/utils/error-tool-arguments.test.ts
  src/utils/error-tool-arguments.ts
  src/utils/error-toolset.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(tool): throw ToolArgumentsError for malformed or unencodable arguments
  MIGRATION.md
  README.md
  src/tool.test.ts
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolset): treat a null sessionId as not given
  src/toolsets.search-execute.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolsets): treat an empty baseUrl or STACKONE_BASE_URL as unset, as Python does
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(retry): read a Retry-After date strictly, as an RFC 9110 HTTP-date in GMT
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(headers): open a headers schema typed ["object", "null"], and treat type [] as ordinary
  src/headers.test.ts
  src/headers.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(toolsets): treat accountIds: null as not given
  src/toolsets.search-execute.test.ts
  src/toolsets.test-d.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(tool): refuse a lone surrogate in tool arguments
  src/tool.test.ts
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix: align error and warning messages with the Python SDK
  src/headers.ts
  src/mcp-client.test.ts
  src/mcp-client.ts
  src/rate-limit.test.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.search-execute.test.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(retry): read a Retry-After date as the shared vectors do
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(retry): warn when a 429 is not retried because the wait would pass the deadline
  src/rate-limit.test.ts
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

test: run the shared sdk-conformance vectors against the SDK
  .oxfmtrc.jsonc
  scripts/sync-vectors.sh
  src/headers.test.ts
  src/tool.test.ts
  src/toolsets.test.ts
  src/utils/fetch-retry.ts
  src/vectors.test.ts
  tests/vectors/README.md
  tests/vectors/account-ids.json
  tests/vectors/argument-encoding.json
  tests/vectors/backoff.json
  tests/vectors/header-arguments.json
  tests/vectors/header-names.json
  tests/vectors/header-values.json
  tests/vectors/messages.json
  tests/vectors/retry-after.json
  tests/vectors/schema/account-ids.schema.json
  tests/vectors/schema/argument-encoding.schema.json
  tests/vectors/schema/backoff.schema.json
  tests/vectors/schema/header-arguments.schema.json
  tests/vectors/schema/header-names.schema.json
  tests/vectors/schema/header-values.schema.json
  tests/vectors/schema/messages.schema.json
  tests/vectors/schema/retry-after.schema.json
Due: oxlint, oxfmt, typecheck, lint, format

ci: fail when the vendored vectors differ from the pinned sdk-conformance
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

Revert "fix(retry): read a Retry-After date as the shared vectors do"
  src/utils/fetch-retry.test.ts
  src/utils/fetch-retry.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(vectors): sync the shared vectors to sdk-conformance daf1140
  src/vectors.test.ts
  tests/vectors/retry-after.json
Due: oxlint, oxfmt, typecheck, lint, format

ci: pin sdk-conformance to daf1140
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

docs(migration): qualify the JSON-value and integer-precision rules
  MIGRATION.md
Due: oxfmt, lint, format

fix(tool): treat sparse array holes as undefined in argument validation
  src/tool.test.ts
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(scripts): make sync-vectors.sh atomic and refuse a dirty source
  scripts/sync-vectors.sh
Due: oxfmt, format
