Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Lint first - fail fast on warnings
    oxlint:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
      stage_fixed: true

    # Format after linting passes
    oxfmt:
      glob: "*"
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    # Type check TypeScript files
    typecheck:
      glob: "*.{ts,tsx,mts,cts}"
      run: pnpm run typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

chore: format
  .claude/rules/file-operations.md
  .claude/rules/typescript-testing.md
Due: oxfmt, lint, format

chore: check package.json
  typos.toml
Due: oxfmt, format

feat(nix): add package build derivation for tarball generation
  flake.nix
Due: oxfmt, format

chore(hooks): add pre-commit hook for pnpm deps hash update
  lefthook.yaml
  scripts/update-pnpm-hash.sh
Due: oxfmt, lint, format

ci(publish): use nix build for package tarball generation
  .github/workflows/dry-publish.yaml
  .github/workflows/release.yaml
Due: oxfmt, lint, format

chore(git): ignore nix build result symlink
  .gitignore
Due: oxfmt, format

ci: split build-and-test into separate build and test jobs
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

chore(package): remove preinstall only-allow pnpm check
  package.json
Due: oxfmt, lint, format

fix(nix): use system-specific hashes for pnpm deps
  flake.nix
  scripts/update-pnpm-hash.sh
Due: oxfmt, format

ci: add --print-build-logs and revert dry-publish
  .github/workflows/ci.yaml
  .github/workflows/dry-publish.yaml
  .github/workflows/release.yaml
Due: oxfmt, lint, format

feat(security): add gitleaks for secret detection
  .github/workflows/ci.yaml
  .gitleaks.toml
  flake.nix
  lefthook.yaml
Due: oxfmt, lint, format

fix ignore
  .gitleaks.toml
Due: oxfmt, format

refactor(utils): split errors.ts into separate files
  src/feedback.ts
  src/index.ts
  src/requestBuilder.ts
  src/rpc-client.ts
  src/tool.ts
  src/toolsets.ts
  src/utils/error-stackone-api.ts
  src/utils/error-stackone.ts
  src/utils/try-import.ts
Due: oxlint, oxfmt, typecheck, lint, format

test: improve test coverage from 85% to 93%
  src/feedback.test.ts
  src/requestBuilder.test.ts
  src/rpc-client.test.ts
  src/tool.test.ts
  src/toolsets.test.ts
  src/utils/error-stackone-api.test.ts
  src/utils/error-stackone.test.ts
  src/utils/try-import.test.ts
  vitest.config.ts
Due: oxlint, oxfmt, typecheck, lint, format

fix(test): replace unified API endpoint with generic endpoint
  src/utils/error-stackone-api.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci(deps): add Dependabot and automated dependency updates
  .github/dependabot.yaml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/nix-flake-update.yaml
Due: oxfmt, lint, format

ci(nix): use setup-nix action for flake update workflow
  .github/workflows/nix-flake-update.yaml
Due: oxfmt, lint, format

ci: pin GitHub Actions with pinact
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/nix-flake-update.yaml
Due: oxfmt, lint, format

docs: remove envrc config
  README.md
Due: oxfmt, lint, format

chore: fix typos ignore regex
  typos.toml
Due: oxfmt, format

chore: remove typos CLI tooling
  lefthook.yaml
  typos.toml
Due: oxfmt, lint, format

chore(deps): add @fast-check/vitest for property-based testing
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

test(tfidf-index): add property-based tests with @fast-check/vitest
  src/utils/tfidf-index.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(array): replace example-based tests with PBT
  src/utils/array.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(requestBuilder): add property-based tests for edge cases
  src/requestBuilder.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(test): remove redundant tests now covered by PBT
  src/requestBuilder.test.ts
  src/utils/tfidf-index.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(test): add documentation comments to PBT explaining replaced tests
  src/requestBuilder.test.ts
  src/utils/array.test.ts
  src/utils/tfidf-index.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(ci): remove typos job from CI workflow
  .github/workflows/ci.yaml
Due: oxfmt, lint, format

fix(toolsets): remove as StackOneHeaders
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

ci(nix): add Nix store caching to setup-nix action
  .github/actions/setup-nix/action.yaml
Due: oxfmt, lint, format

ci(nix): replace cachix with cache-nix-action
  .github/actions/setup-nix/action.yaml
Due: oxfmt, lint, format

chore: update ai sdk v6
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

feat(deps): support AI SDK v5 and v6 via unified imports
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/tool.ts
  src/types.ts
  tsdown.config.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(deps): require ai SDK >=5.0.108
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore: update github actions
  .github/actions/setup-nix/action.yaml
  .github/workflows/claude.yaml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/nix-flake-update.yaml
Due: oxfmt, lint, format

chore(deps): update nix flake inputs
  flake.lock
Due: oxfmt, format

ci(nix): include all Nix files and lockfiles in cache key hash
  .github/actions/setup-nix/action.yaml
Due: oxfmt, lint, format

fix(tool): use dynamic peerDependencies version in error message
  src/tool.ts
  src/types.ts
  src/utils/try-import.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore(lefthook): add lockfile integrity and dependency change checks
  lefthook.yaml
Due: oxfmt, lint, format

fix(lefthook): match all package.json files in monorepo
  lefthook.yaml
Due: oxfmt, lint, format
