Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck, lint, format

lefthook.yaml:

pre-commit:
  parallel: false
  commands:
    # Lint first - fail fast on warnings
    oxlint:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm oxlint --max-warnings=0 --type-aware --fix {staged_files}
      stage_fixed: true

    # Format after linting passes
    oxfmt:
      glob: "*"
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

    # Type check TypeScript files
    typecheck:
      glob: "*.{ts,tsx,mts,cts}"
      run: pnpm run typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

chore: remove typescript and use tsgo
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore(deps): update tsdown
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore: rerun build
  package.json
Due: oxfmt, lint, format

feat(tool): add OpenAI Responses API integration
  examples/openai-responses-integration.ts
  src/tool.test.ts
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

build(deps): add @anthropic-ai/sdk as optional peer dependency
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

feat(tool): add toAnthropic() method for Anthropic Claude integration
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(tool): add tests for toAnthropic() conversion methods
  src/tool.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(example): add Anthropic Claude integration example
  examples/anthropic-integration.ts
  examples/package.json
Due: oxlint, oxfmt, typecheck, lint, format

chore(test): format tool.test.ts
  src/tool.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(workflow): remove biome references from development workflow skill
  .claude/skills/development-workflow/SKILL.md
Due: oxfmt, lint, format

chore(deps): update tsgo to 7.0.0-dev.20251209.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, lint, format

chore: remove duplicate oxlint configuration file
  oxlint.json
Due: oxfmt, lint, format

refactor(mocks): split MSW handlers into separate files by domain
  mocks/handlers.example-api.ts
  mocks/handlers.mcp.ts
  mocks/handlers.openai.ts
  mocks/handlers.stackone-ai.ts
  mocks/handlers.stackone-hris.ts
  mocks/handlers.stackone-rpc.ts
  mocks/handlers.ts
  mocks/handlers.utils.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore: simplify mcp test server type
  mocks/mcp-server.ts
Due: oxlint, oxfmt, typecheck, lint, format

chore: remove unused sample-document
  examples/sample-document.txt
Due: oxfmt, format

chore: remove fetch tools example
  examples/fetch-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

Revert "chore: remove fetch tools example"
  examples/fetch-tools.ts
Due: oxlint, oxfmt, typecheck, lint, format

feat(example): update interactive fetchTool debug
  examples/fetch-tools-debug.ts
  examples/interactive-cli.ts
Due: oxlint, oxfmt, typecheck, lint, format

Apply suggestion from @glebedel
  examples/openai-responses-integration.ts
Due: oxlint, oxfmt, typecheck, lint, format

Apply suggestion from @glebedel
  examples/anthropic-integration.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(rules): migrate skills to Claude Code rules directory
  .claude/rules/development-workflow.md
  .claude/rules/file-operations.md
  .claude/rules/git-workflow.md
  .claude/rules/pnpm-usage.md
  .claude/rules/typescript-patterns.md
  .claude/rules/typescript-testing.md
  .claude/skills/development-workflow/SKILL.md
  .cursor/rules/development-workflow.mdc
  .cursor/rules/file-operations.mdc
  .cursor/rules/git-workflow.mdc
  .cursor/rules/pnpm-usage.mdc
  .cursor/rules/typescript-patterns.mdc
  .cursor/rules/typescript-testing.mdc
  CLAUDE.md
Due: oxfmt, lint, format

refactor: remove unimplemented planning feature
  examples/README.md
  examples/planning.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

Revert "chore(main): release 2.0.0 (#150)"
  CHANGELOG.md
  package.json
Due: oxfmt, lint, format

fix(lefthook): use pnpm
  lefthook.yaml
Due: oxfmt, lint, format

feat(lint): configure unicorn/prefer-top-level-await rule
  .oxlintrc.jsonc
Due: oxfmt, lint, format

feat(lint): enforce ESM style with unicorn/prefer-module
  .oxlintrc.jsonc
Due: oxfmt, lint, format

Revert "feat(lint): enforce ESM style with unicorn/prefer-module"
  .oxlintrc.jsonc
Due: oxfmt, lint, format

refactor(mocks): remove unified API integration handlers
  mocks/handlers.stackone-ai.ts
  mocks/handlers.stackone-hris.ts
  mocks/handlers.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(tools): replace category-based naming with integration-specific names
  README.md
  examples/ai-sdk-integration.ts
  examples/fetch-tools.ts
  examples/index.ts
  examples/meta-tools.ts
  examples/openai-integration.ts
  examples/openai-responses-integration.ts
  examples/planning.ts
  mocks/handlers.openai.ts
  mocks/handlers.stackone-ai.ts
  mocks/handlers.stackone-rpc.ts
  src/rpc-client.test.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.test.ts
  src/utils/tfidf-index.test.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(examples): remove unnecessary tool filtering in single-account examples
  README.md
  examples/ai-sdk-integration.ts
  examples/index.ts
  examples/openai-integration.ts
Due: oxlint, oxfmt, typecheck, lint, format

docs(readme): add practical multi-account usage example
  README.md
Due: oxfmt, lint, format

feat(toolsets): add validation to reject unified API tools
  src/consts.ts
  src/toolsets.test.ts
  src/toolsets.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(types): replace json-schema library with custom JSONSchema type
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/tool.test.ts
  src/tool.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(tool): use toJsonSchema() in toAISDK method
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(tool): add type-safe schema validation for AI SDK
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/tool.ts
Due: oxlint, oxfmt, typecheck, lint, format

refactor(utils): add tryImport utility for optional dependencies
  src/tool.ts
  src/utils/try-import.ts
Due: oxlint, oxfmt, typecheck, lint, format

test(utils): add tests for tryImport utility
  src/utils/try-import.test.ts
Due: oxlint, oxfmt, typecheck, lint, format
