Repository StackOneHQ/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm run lint
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true

refactor(test): replace Bun.serve with MSW + Hono for MCP tests
  src/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, lint, format

test(vitest): enable MCP fetch tests
  vitest.config.ts
Due: typecheck, lint, format

chore(deps): remove unused @hono/node-server
  pnpm-lock.yaml
Due: lint, format

chore: workspace
  pnpm-workspace.yaml
Due: lint, format

ci(nix): add paths filter to pull_request trigger
  .github/workflows/nix-flake.yaml
Due: lint, format

refactor(tests): relocate tests to sit alongside implementations
  src/index.spec.ts
  src/modules/requestBuilder.spec.ts
  src/tool.json-schema.spec.ts
  src/tool.meta-tools.spec.ts
  src/tool.spec.ts
  src/tool.test-d.ts
  src/tools/feedback.spec.ts
  src/toolsets/base.spec.ts
  src/toolsets/stackone.mcp-fetch.spec.ts
  src/toolsets/stackone.spec.ts
  src/utils/array.spec.ts
  src/utils/tfidf-index.spec.ts
Due: typecheck, lint, format

refactor(tests): rename .spec.ts files to .test.ts
  src/index.test.ts
  src/modules/requestBuilder.test.ts
  src/rpc-client.test.ts
  src/tool.json-schema.test.ts
  src/tool.meta-tools.test.ts
  src/tool.test.ts
  src/tools/feedback.test.ts
  src/toolsets/base.test.ts
  src/toolsets/stackone.mcp-fetch.test.ts
  src/toolsets/stackone.test.ts
  src/utils/array.test.ts
  src/utils/tfidf-index.test.ts
Due: typecheck, lint, format

refactor(config): update vitest configuration for .test.ts naming
  vitest.config.ts
Due: typecheck, lint, format

refactor(skills): update test file naming from .spec.ts to .test.ts
  .claude/skills/development-workflow/SKILL.md
  .claude/skills/typescript-testing/SKILL.md
Due: lint, format

refactor(mocks): add as const satisfies to all mock tool definitions
  mocks/mcp-server.ts
Due: typecheck, lint, format

docs: add coverage badge to README
  README.md
Due: lint, format

build(tooling)!: replace Biome with oxlint and oxfmt
  .oxfmtrc.jsonc
  .oxlintrc.jsonc
  biome.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, format

fix(lint): remove unused catch parameters
  src/tools/feedback.ts
  src/utils/errors.ts
Due: typecheck, lint, format

fix(lint): add type guards for safe string conversion
  mocks/handlers.ts
  src/modules/requestBuilder.ts
  src/toolsets/base.ts
Due: typecheck, lint, format

fix(lint): await Orama insert operation in async context
  src/tool.ts
Due: typecheck, lint, format

fix(examples): use top-level await for async functions
  examples/ai-sdk-integration.ts
  examples/human-in-the-loop.ts
  examples/index.ts
  examples/meta-tools.ts
  examples/openai-integration.ts
Due: typecheck, lint, format

chore(lint): replace biome-ignore with eslint-disable
  src/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, lint, format

chore(lefthook): optimise pre-commit hook execution order
  lefthook.yaml
Due: lint, format

chore(lint): add comprehensive oxlint configuration
  oxlint.json
Due: lint, format

chore: format
  oxlint.json
  src/tests/requestBuilder.spec.ts
Due: typecheck, lint, format

chore: remove env_exampele
  .env_example
Due: format

refactor(examples): replace ACCOUNT_IDS constant with inline placeholders
  examples/README.md
  examples/ai-sdk-integration.ts
  examples/constants.ts
  examples/human-in-the-loop.ts
  examples/index.ts
  examples/meta-tools.ts
  examples/openai-integration.ts
  examples/planning.ts
Due: typecheck, lint, format

chore(lint): add node, jsdoc, import plugins to oxlint config
  .oxlintrc.jsonc
Due: lint, format

refactor(lint): replace typecheck with oxlint --type-check
  examples/package.json
  lefthook.yaml
  package.json
Due: lint, format

chore(knip): ignore @typescript/native-preview
  knip.config.ts
Due: typecheck, lint, format

ci: remove obsolete typecheck step from CI workflow
  .github/workflows/ci.yaml
Due: lint, format

chore(hooks): add knip check to push hook
  knip.config.ts
  lefthook.yaml
Due: typecheck, lint, format

chore(example): remove human-in-the-loop
  examples/human-in-the-loop.ts
Due: typecheck, lint, format

fix(rpc): send x-account-id as HTTP header in RPC requests
  mocks/handlers.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/rpc-client.test.ts
  src/rpc-client.ts
  src/schemas/headers.ts
  src/schemas/rpc.ts
  src/toolsets/base.ts
  src/utils/headers.test.ts
  src/utils/headers.ts
Due: typecheck, lint, format

chore(deps): add @clack/prompts to dev catalog
  examples/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, format

feat(example): add interactive CLI demo with @clack/prompts
  examples/README.md
  examples/interactive-cli.ts
Due: typecheck, lint, format

refactor(toolsets): flatten directory structure into single module
  src/toolsets.test.ts
  src/toolsets.ts
  src/toolsets/base.test.ts
  src/toolsets/index.ts
  src/toolsets/stackone.mcp-fetch.test.ts
  src/toolsets/stackone.test.ts
  src/toolsets/stackone.ts
Due: typecheck, lint, format

test(mcp-client): add dedicated unit tests for MCP client factory
  src/mcp-client.test.ts
Due: typecheck, lint, format

test: remove meaningless initialisation tests
  src/index.test.ts
  src/modules/requestBuilder.test.ts
  src/tool.test.ts
  src/toolsets.test.ts
Due: typecheck, lint, format

test(tool): consolidate duplicated test blocks
  src/tool.test.ts
Due: typecheck, lint, format

refactor(src): flatten module structure by moving files to root src directory
  src/feedback.test.ts
  src/feedback.ts
  src/index.ts
  src/requestBuilder.test.ts
  src/requestBuilder.ts
  src/tool.ts
  src/toolsets.ts
Due: typecheck, lint, format

test(tool): consolidate test files into single tool.test.ts
  src/tool.json-schema.test.ts
  src/tool.meta-tools.test.ts
  src/tool.test.ts
Due: typecheck, lint, format

remove vitest imports from test files
  src/tool.test-d.ts
  src/tool.test.ts
Due: typecheck, lint, format

refactor(schema): flatten schemas directory structure
  src/rpc-client.ts
  src/schema.ts
Due: typecheck, lint, format
